.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Rust-logo {
  height: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.Sub-title {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Disclaimer {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: calc(20px);
  color: gray;
}

.App-link {
  color: #61dafb;
}

.App-body {
  display: flex;
}
